<div class="jumbotron vertical-center">
	<div class="container error">
		<h1><i class="<%=@datos['icono']%>"></i>&nbsp;<%=@datos['numero']%></h1>
		<h4><%=@datos['descripcion']%></h4>
		<h5><%=@datos['mensaje']%></h5>
		<h6><a href="<%=Url.base_url %>"><i class="fa fa-home" aria-hidden="true"></i> Ir al Inicio</a></h6>
	</div>
</div>
