<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%if defined? @title%><%=@title%><%else%><%=Statics.nombre_app%><%end%></title>
    <link rel="icon" type="image/x-icon" href="<%= Statics.url_public_img%>favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <!-- Inicio CSS-->
    <link rel="stylesheet" type="text/css" href="<%= Statics.url_bower%>bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="<%= Statics.url_bower%>font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="<%= Statics.url_public_css%>styles.css" />
    <%= load_css %>
    <!-- Fin CSS-->
    <%= stylesheet_link_tag    'application', media: 'all'%>
  </head>
  <body>
      <!-- Inicio Yield-->
      <%= yield %>
      <!-- Fin Yield-->
    <!-- Inicio JS-->
    <%= javascript_include_tag 'application'%>
    <script src="<%= Statics.url_bower%>jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="<%= Statics.url_bower%>bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="<%= Statics.url_bower%>requirejs/require.js" type="text/javascript"></script>
    <script src="<%= Statics.url_public_js%>app.js" type="text/javascript"></script>
    <%= load_js %>
    <!-- Fin JS-->
  </body>
</html>
